
  #datepicker {
    width: 150px;
  }

.hero-section {
    background: url(movies-img.jpg) 50% no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom:30px;
    opacity: 0.875;
  }
  
  .hero-section .hero-section-text {
    color: white;
    text-shadow: 2px 2px 2px blue;
    background-color: #2199e8; 
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
  }

  .hide {
    display: none;
  }

  #moreMovies {
    color: white;
    text-shadow: 2px 2px 2px blue;
    background-color: #2199e8; 
    padding: 20px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 8px;
  }

  #movie-choices {
    margin-bottom: 75px;
  }

  #date {
    text-align: left;
  }


  #movie-main {
    display: inline;
    text-align: center;
  }


  #poster-main {
    display: inline;
  }

  .has-submenu {
    text-align: left;
  }

  select {
    cursor: pointer;
  }
