
  #datepicker {
    width: 150px;
  }

  form .form-icons {
    text-align: center;
  }
  
  form .form-icons h4 {
    margin-bottom: 1rem;
  }
  
  form .form-icons .input-group-label {
    background-color: gray;
    border-color: gray;
  }
  
  form .form-icons .input-group-field {
    border-color: gray;
  }
  
  form .form-icons .fa {
    color: white;
    width: 1rem;
  }

.hero-section {
    background: url(movies-img.jpg) 50% no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom:30px;
    opacity: 0.875;
  }
  
  .hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 5px 5px 5px black;
    font-weight: bold;
  }

  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 8px;
  }

  #movie-choices {
    margin-bottom: 75px;
  }

  #date {
    text-align: left;
  }


  #movie-main {
    display: inline;
    text-align: center;
  }


  #poster-main {
    display: inline;
  }

  .has-submenu {
    text-align: left;
  }

